
/* BASIC -  DESIGN*/
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Jomolhari', serif; */
    /* font-family: 'Almarai', sans-serif; */
    /* font-family: 'Lato', sans-serif;
    font-family: 'Modak', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Open Sans', sans-serif; */
}

#wrapper {
    max-width: 1080px;
    margin: auto;
    overflow: hidden;
}


/* HEADER -  DESIGN*/
header {
    margin: 40px auto 20px auto;
    display: flex;
}

#logo {
    margin-right: auto;
}

#logo .logo-bold {
    font-weight: bold;
}

nav {
    display: inline-block;
} 

.nav-menu ul {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.nav-menu ul li {
    display: inline-block;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px;
}

.active {
    color: red;
}

/* SEARCH-SECTION -  DESIGN*/
form {
    border: 1px solid grey;
    padding: 10px 0 5px 0;
    margin: 15px auto 15px auto;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

input[type=text] {
    width: 100%;
    margin-left: 10px;
    outline: none;
    border: none;
}

.word {
    position: relative;
    bottom: 4px;
}

input:active {
    border: none;
}

.textTyping {
    position: relative;
    bottom: 3px;
}

.selection {
    width: 120px;
    margin-right: 60px;
    position: relative;
    bottom: 3px;
}

.bg-black {
    background-color: #000;
    border-radius: 50%;
}

.list-icon {
    margin: auto 80px auto 80px;
}


/* MAIN-SECTION-1 -  DESIGN*/
#main-section-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 60px;
}

.card {
    max-width: 245px;
    word-wrap: break-word;
} 

.card .card-items {
    display: flex;
    margin: 10px auto 5px auto;
}
.card .item-1 {
    font-family: 'Roboto', sans-serif;
}

.card .name {
    margin-right: auto;
}

.card .font-button {
    padding: 2px;
    border: none; 
    color: red;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.card .font-creator {
    font-size: 12px;
    margin-bottom: 30px;
}

.card .font-text {
    font-size: 30px;
}

.fontOne { font-family: 'Roboto', sans-serif; }
.fontTwo { font-family: 'Jomolhari'; }
.fontThree { font-family: 'Almarai', sans-serif; }
.fontFour { font-family: 'Lato', sans-serif; }
.fontFive { font-display: 'Modak', cursive; }
.fontSix { font-display: 'Montserrat', sans-serif; }
.fontSeven { font-display: 'Roboto Condensed', sans-serif; }
.fontEight { font-display: 'Open Sans', sans-serif; }

/* MAIN-SECTION-2 -  DESIGN*/
#main-section-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 80px;
}


/* FOOTER-SECTION-  DESIGN*/
.developer p {
    text-align: center;
    padding-bottom: 20px;
}